<div style="margin:10px 0px 0px 0px;">
	<ul class="navbar-nav text-uppercase ml-auto" style="display:block;">
		<li class="nav-item" style="float:left;margin-right:40px">
			<a class="nav-link" href="/admin">Admin</a>
		</li>
		<li class="nav-item" style="float:left;margin-right:40px">
			<a class="nav-link" href="/admin/categories">Kategoriler</a>
		</li>
		<li class="nav-item" style="float:left;margin-right:40px">
			<a class="nav-link" href="/admin/posts">Gönderiler</a>
		</li>
		<li class="nav-item" style="float:left;margin-right:40px">
			<a class="nav-link" href="/posts/new">Gönderi Ekle</a>
		</li>
		<li class="nav-item" style="float:left;margin-right:40px">
			<a class="nav-link" href="/admin/addMagazine">Dergi Ekle</a>
		</li>
		
	</ul>
</div>

<div style="padding:70px 0px 0px 0px;"></div>