

	<!--==========================
    ABOUTUS Section

	<section class="page-image page-image-about md-padding">
		<h1 class="text-white text-center">HAKKIMIZDA</h1>
	</section>
============================-->
	{{!-- <section id="aboutus" class="md-padding">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">How We Begin</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
				<div class="col-md-6">
					<img class="img-fluid" src="img/comany.jpg" alt="">
				</div>
				<div class="col-md-6">
					<div class="bg-main text-center h-100 project">
						<div class="d-flex h-100">
							<div class="project-text w-100 my-auto text-center text-lg-left">
								<p class="mb-3 text-white">An example of where you can put an image of a project, or anything else, along with a description.An example of where you can put an image of a project, or anything else, along with a description.
									<br>
									<br>An example of where you can put an image of a project, or anything else, along with a description.An example of where you can put an image of a project, or anything else, along with a description.</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> --}}

	<!--==========================
    THE TEAM
============================-->

<div style="margin:10px 0px 0px 0px;">
	<section id="team" class="md-padding" >
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<div class="section-header">
						<h2 class="title">DERNEK YÖNETİM KURULU</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/hamzareis.jpg" alt="">
						<h4>Dr. Hamza KANDEMİR</h4>
						<p class="text-muted">Dernek Başkanı</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="https://www.instagram.com/kandemirhamza/">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-6">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/mustafakaraboyaci.jpg" alt="">
						<h4>Dr. Mustafa KARABOYACI</h4>
						<p class="text-muted">Dernek Başkan Yardımcısı</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="https://www.instagram.com/mustafa_karaboyaci/">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="https://instagram.fist3-1.fna.fbcdn.net/v/t51.2885-19/s150x150/77089357_1002881073447179_3114803380770308096_n.jpg?_nc_ht=instagram.fist3-1.fna.fbcdn.net&_nc_ohc=y9KhWUzmIk4AX8SmUvS&oh=9bd3b6dda985fefa42e49ed71aaceb8b&oe=5FBC045E" alt="">
						<h4>Öğr. Gör. Serkan ÖZDEMİR</h4>
						<p class="text-muted">Yönetim Kurulu Asil Üye</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="https://www.instagram.com/serkanozdemir._/">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-3">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="https://instagram.fbtz1-8.fna.fbcdn.net/v/t51.2885-19/s150x150/118681840_668114307396274_2390786401179536418_n.jpg?_nc_ht=instagram.fbtz1-8.fna.fbcdn.net&_nc_ohc=miVWYw3OOisAX9GYaNE&oh=6371c8fd18e163733ee1dd4460df62d5&oe=5FBE7B4B" alt="">
						<h4>Arş. Gör. Abdullah BERAM </h4>
						<p class="text-muted">Yönetim Kurulu Asil Üye</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="https://www.instagram.com/abdullahberam/">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-3">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="https://instagram.fbtz1-8.fna.fbcdn.net/v/t51.2885-19/s150x150/118601643_344879033358261_8906280099221264074_n.jpg?_nc_ht=instagram.fbtz1-8.fna.fbcdn.net&_nc_ohc=vkK4jwSUCQgAX-usUqc&oh=0e8605671f87f5b005332a0d19dc9c71&oe=5FBDB6E9" alt="">
						<h4>Öğr. Gör. Serdar Aydoğan</h4>
						<p class="text-muted">Yönetim Kurulu Asil Üye</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="https://www.instagram.com/serdar__aydogan/">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-3">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="https://instagram.fbtz1-8.fna.fbcdn.net/v/t51.2885-19/s150x150/37307917_287577711991209_6095109186356510720_n.jpg?_nc_ht=instagram.fbtz1-8.fna.fbcdn.net&_nc_ohc=9Hf4uW-i9eMAX9ptTZ1&oh=513525337d4d90b0dfc5c00aa984a1c1&oe=5FBC6755" alt="">
						<h4>Orm. Yük. Müh. Tunahan ÇINAR</h4>
						<p class="text-muted">Yönetim Kurulu Asil Üye</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="https://www.instagram.com/tunahancinarr/">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="https://www.isparta.edu.tr/foto.aspx?sicil_no=02282" alt="">
						<h4>Öğr. Gör. Serhat DURANAY </h4>
						<p class="text-muted">Yönetim Kurulu Asil Üye</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div>

		</div>
	</section>
</div>
	
