

	<!--==========================
    ABOUTUS Section

	<section class="page-image page-image-about md-padding">
		<h1 class="text-white text-center">HAKKIMIZDA</h1>
	</section>
============================-->
	{{!-- <section id="aboutus" class="md-padding">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">How We Begin</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
				<div class="col-md-6">
					<img class="img-fluid" src="img/comany.jpg" alt="">
				</div>
				<div class="col-md-6">
					<div class="bg-main text-center h-100 project">
						<div class="d-flex h-100">
							<div class="project-text w-100 my-auto text-center text-lg-left">
								<p class="mb-3 text-white">An example of where you can put an image of a project, or anything else, along with a description.An example of where you can put an image of a project, or anything else, along with a description.
									<br>
									<br>An example of where you can put an image of a project, or anything else, along with a description.An example of where you can put an image of a project, or anything else, along with a description.</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> --}}

	<!--==========================
    THE TEAM
============================-->

<div style="margin:10px 0px 0px 0px;">
	<section id="team" class="md-padding" >
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<div class="section-header">
						<h2 class="title">DERNEK YÖNETİM KURULU</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/hamzareis.jpg" alt="">
						<h4>Dr. Hamza KANDEMİR</h4>
						<p class="text-muted">Dernek Başkanı</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="https://www.instagram.com/kandemirhamza/">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.researchgate.net/profile/Hamza_Kandemir">
									<i class="fab fa-researchgate"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://twitter.com/hamzakandemir03">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				
				
			</div>
			<br>
			<div class="row">
				<div class="col-md-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/mustafakaraboyaci.jpg" alt="">
						<h4>Dr. Mustafa KARABOYACI</h4>
						<p class="text-muted">Dernek Başkan Yardımcısı</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="https://www.instagram.com/mustafa_karaboyaci/">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.researchgate.net/profile/Mustafa_Karaboyaci">
									<i class="fab fa-researchgate"></i>
								</a>
							</li>
							{{!-- <li class="list-inline-item">
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li> --}}
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/serkanOzdemir.jpg" alt="">
						<h4>Öğr. Gör. Serkan ÖZDEMİR</h4>
						<p class="text-muted">Yönetim Kurulu Asil Üye</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="https://www.instagram.com/serkanozdemir._/">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.researchgate.net/profile/Serkan_Oezdemir5">
									<i class="fab fa-researchgate"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/abdullahBeram.jpg" alt="">
						<h4>Arş. Gör. Abdullah BERAM </h4>
						<p class="text-muted">Yönetim Kurulu Asil Üye</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="https://www.instagram.com/abdullahberam/">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.researchgate.net/profile/Abdullah_Beram">
									<i class="fab fa-researchgate"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/serdarAydogan.jpg" alt="">
						<h4>Öğr. Gör. Serdar Aydoğan</h4>
						<p class="text-muted">Yönetim Kurulu Asil Üye</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="https://www.instagram.com/serdar__aydogan/">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/tunahanCinar.jpg" alt="">
						<h4>Orm. Yük. Müh. Tunahan ÇINAR</h4>
						<p class="text-muted">Yönetim Kurulu Asil Üye</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="https://www.instagram.com/tunahancinarr/">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.researchgate.net/profile/Tunahan_Cinar2">
									<i class="fab fa-researchgate"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/serhatDuranay.jpeg" alt="">
						<h4>Öğr. Gör. Serhat DURANAY </h4>
						<p class="text-muted">Yönetim Kurulu Asil Üye</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.researchgate.net/profile/Serhat_Duranay">
									<i class="fab fa-researchgate"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>
	
